<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to QuotingDojo</title>
  </head>
  <body>
    <h1>Welcome to quoting dojo</h1>
    <form action="/quotes" method="post">
      name: <input type="text" name="name">
      quotes: <textarea name="quotes" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="Add">
    </form>
    <a href="/quotes">Skip to quote1!!</a>
  </body>
</html>
